.App {
  text-align: center;
}

.App-logo {
  position:absolute;
  height: 10em;
  pointer-events: none;
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bd6da5;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
}


.Title {
  color: rgb(36, 13, 18);
  font-family: 'Lucida Handwriting', serif;
  font-size: 5em;
  margin-top: 3em;
  position:absolute;
}

.Welcome {
  width: 10em;
  margin-left: 7em;
  top: 8em;
  height: 10em;

}

.Mission {
  width: 15em;
  margin-left: 5em;
  top: 18em;
  height: 20em;

}

.OurCats {
  width: 15em;
  margin-left: 5em;
  top: 28em;
  height: 20em;
}

.CatGallery {
  height: 80em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
  position: relative;
  overflow: hidden;
  top: 50em;
}

.MomoName {
  position: absolute;
  left: 13em;
  top:27em;
  font-family: 'Lucida Handwriting', serif;
}

.HenryName {
  position: absolute;
  left:30em;
  top:34em;
  font-family: 'Lucida Handwriting', serif;
}

.InkaName {
  position: absolute;
  right:13em;
  top:26em;
  font-family: 'Lucida Handwriting', serif;
}

.PikotkaName {
  position: absolute;
  top:43em;
  font-family: 'Lucida Handwriting', serif;
}

.Momo {
  position: absolute;
  left: 10em;
  top: 25em;
  
}


.Henry {
  position: absolute;
  left: 25em;
  top: 20em;

}

.Inka {
  position: absolute;
  left: 37em;
  top: 25em;
}

.Pikotka {
  position: absolute;
  right: 25em;
  top:40em;
}

.ClickMomo {
  position: absolute;
  left: 39em;
  top:63em;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(33deg); 
}

.ClickHenry {
  position: absolute;
  right:58em;
  top:53em;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(58deg); 
}

.ClickInka {
  position: absolute;
  right: 40em;
  bottom:80em;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(70deg); 
}

.ClickPikotka {
  position: absolute;
  right: 55em;
  bottom:55em;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(90deg); 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
