.App {
  position:relative;
  text-align: center;
  width: auto;
  height: auto;
}

.App-logo {
  position:absolute;
  pointer-events: none;
  margin-bottom: 0;
  position: flex;
  width: 80%;
  height: auto;
  left: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  height: 40em;
  width: 35em;
  margin-left: 35%;
  margin-top: 5em;
  overflow: hidden;
  top: 15em;
  position: relative;
}


.Title {
  color: rgb(36, 13, 18);
  font-family: 'Lucida Handwriting', serif;
  font-size: 5em;
  margin-top: 4em;
  position:relative;
  display: flex;
}

.Welcome {
  flex-direction: column;
  height: 3em;
  width: 25em;
  margin-left: 4em;
  margin-top: 5em;
  overflow: hidden;
  top: 15em;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .Welcome {
    width:100%;
  }
}

.Mission {
  flex-direction: column;
  height: 3em;
  width: 25em;
  margin-left: 4em;
  margin-top: 5em;
  overflow: hidden;
  top: 20em;
  position: relative;
}

.OurCats {
  flex-direction: column;
  height: 2em;
  width: 25em;
  margin-left: 4em;
  margin-top: 5em;
  overflow: hidden;
  top: 25em;
  position: relative;
}

.AdoptionCatGallery {
  flex-direction: column;
  height: 50em;
  width: 50em;
  margin-left: 7em;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 5em;
  overflow: hidden;
  top: 70em;
  position: relative;
  border: dotted 5px black;
  
}

.ForAdoption {
  margin-left: 8em;
  width: 10em;

}

.Try {
  position: fixed;
  top: 10em;
  margin-left:-5em;
  height: 20em;
  width: 20em;
}

.Within {
  position: sticky;
  margin-left:35px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.Within2 {
  position: sticky;
  margin-left:35px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.MomoContainer {
  position: absolute;
  height:15em;
  width:15em;
  margin-top:5em;
  outline: none;
}

.MomoName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 75%;
  left:5em;
  top:4em;
}

.Momo {
  position: flex;
  width: 100%;
  height: auto;
}

.ClickMomo {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(28deg); 
  left: 17em;
  top:13em;
}


.HenryContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 20em;
  outline: none;
}

.HenryName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  left:3em;
  top:10em;
}

.ClickHenry {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(58deg); 
  left:10em;
  top:10em;
}

.Henry {
  position: flex;
  width: 100%;
  height: auto;
}


.InkaContainer {
  position: absolute;
  width: 15em;
  height: 15em;
  left: 34em;
  margin-top: 5em;
  outline: none;
 
}

.InkaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  left:10em;
}

.Inka {
  position: flex;
  width: 100%;
  height: auto;
}


.ClickInka {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(70deg); 
  top:23em;
  left:4em;
}

.PikotkaContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  top: 15em;
  left: 20em;
  outline: none;
}

.PikotkaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  top:13em;
  left:2em;
}

.Pikotka {
  position: flex;
  width: 130%;
  height: auto;
}

.ClickPikotka {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(-30deg); 
  top: 14em;
  left:1em;
}

.TreatedCatGallery {
  height: 80em;
  width: 50em;
  margin-left: 7em;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
  overflow: hidden;
  top: 70em;
  position: relative;
  border:5px solid black;
}

.CiastekContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 2em;
  top: 1em;
  outline: none;
}

.CiastekName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 11em;
  left:3em;
}

.Ciastek {
  position: flex;
  width: 130%;
  height: auto;
}

.GoferContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 17em;
  top: 1em;
  outline: none;
}

.GoferName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 13em;
  left:4em;
}

.Gofer {
  position: flex;
  width: 100%;
  height: auto;
}

.TrinityContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 32em;
  top: 1em;
  outline: none;
}

.TrinityName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 12em;
  left:5em;
}

.Trinity {
  position: flex;
  width: 130%;
  height: auto;
}

.ValkaContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 15em;
  top: 25em;
  outline: none;
}

.ValkaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 16em;
  left:4em;
}

.Valka {
  position: flex;
  width: 130%;
  height: auto;
}

.ArwenaContainer {
  position: absolute;
  width: 20em;
  height: 10em;
  left: 29em;
  top: 25em;
  outline: none;
}

.ArwenaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 6em;
  left:4em;
}

.Arwena {
  position: flex;
  width: 100%;
  height: auto;
}

.YodaContainer {
  position: absolute;
  width: 17em;
  height: 10em;
  left: 1em;
  top: 31em;
  outline: none;
}

.YodaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 11em;
  left:6em;
}

.Yoda {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.MisoContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 6em;
  bottom: 23em;
  outline: none;
}

.MisoName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 11em;
  left:6em;
}

.Miso {
  position: absolute;
  width: 300%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.LeoContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 20em;
  bottom: 20em;
  outline: none;
}

.LeoName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 11em;
  left:6em;
}

.Leo {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.YenneferContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  right: 3em;
  bottom: 23em;
  outline: none;
}

.YenneferName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 13em;
  right:5em;
}

.Yennefer {
  position: absolute;
  width: 130%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.BibulContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 3em;
  bottom: 8em;
  outline: none;
}

.BibulName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 8em;
  right:5em;
}

.Bibul {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.TeddyContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 20em;
  bottom: 3em;
  outline: none;
}

.TeddyName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 9em;
  right:6em;
}

.Teddy {
  position: absolute;
  width: 200%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.Questionaries {
  flex-direction: column;
  height: 10em;
  width: 25em;
  margin-left: 4em;
  margin-top: 10em;
  overflow: hidden;
  top: 35em;
  position: relative;
  border: solid 5px black;
}

.QuestionaryAdoption {
  position: absolute;
  font-size: 100%;
  font-family: serif;
  text-decoration: none;
  top: 3em;
  right: 8em;
}

.QuestionaryTempHome {
  position: absolute;
  font-size: 100%;
  font-family: serif;
  text-decoration: none;
  top: 7em;
  right: 4em;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
