.App {
  position:absolute;
  text-align: center;
}

.App-logo {
  position:absolute;
  height: 10em;
  pointer-events: none;
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position:absolute;
  left: 32em;
  text-align: center;
  background-color: #bd6da5;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
}


.Title {
  color: rgb(36, 13, 18);
  font-family: 'Lucida Handwriting', serif;
  font-size: 5em;
  margin-top: 3em;
  position:absolute;
  display: flex;
}

.Welcome {
  position:absolute;
  width: 15em;
  top: 8em;
  height: 10em;
  margin-left: 5em;
  flex-direction: column;
}

.Mission {
  position:absolute;
  width: 15em;
  margin-left: 5em;
  top: 18em;
  height: 20em;
  flex-direction: column;

}

.OurCats {
  position:relative;
  width: 15em;
  margin-left: 5em;
  top: 28em;
  height: 5em;
  flex-direction: column;
}

.AdoptionCatGallery {
  height: 50em;
  width: 50em;
  margin-left: 7em;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
  overflow: hidden;
  top: 70em;
  position: relative;
  
}

.ForAdoption {
  margin-left: 8em;
  width: 10em;

}

.Try {
  position: fixed;
  top: 10em;
  margin-left:-5em;
  height: 20em;
  width: 20em;
}

.Within {
  position: sticky;
  margin-left:35px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.Within2 {
  position: sticky;
  margin-left:35px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.MomoContainer {
  position: absolute;
  height:15em;
  width:15em;
  margin-top:5em;
}

.MomoName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 75%;
  left:5em;
  top:4em;
}

.Momo {
  position: flex;
  width: 100%;
  height: auto;
}

.ClickMomo {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(28deg); 
  left: 17em;
  top:13em;
}


.HenryContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 20em;
}

.HenryName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  left:3em;
  top:10em;
}

.ClickHenry {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(58deg); 
  left:10em;
  top:10em;
}

.Henry {
  position: flex;
  width: 100%;
  height: auto;
}


.InkaContainer {
  position: absolute;
  width: 15em;
  height: 15em;
  left: 34em;
  margin-top: 5em;
 
}

.InkaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  left:10em;
}

.Inka {
  position: flex;
  width: 100%;
  height: auto;
}


.ClickInka {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(70deg); 
  top:23em;
  left:4em;
}

.PikotkaContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  top: 15em;
  left: 20em;
}

.PikotkaName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  top:13em;
  left:2em;
}

.Pikotka {
  position: flex;
  width: 130%;
  height: auto;
}

.ClickPikotka {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  font-size: 50%;
  transform: rotate(-30deg); 
  top: 14em;
  left:1em;
}

.TreatedCatGallery {
  height: 50em;
  width: 50em;
  margin-left: 7em;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2em;
  overflow: hidden;
  top: 70em;
  position: relative;
  border:5px solid black;
}

.CiastekContainer {
  position: absolute;
  width: 10em;
  height: 20em;
  left: 2em;
  bottom: 30em;
}

.CiastekName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 11em;
  left:3em;
}

.Ciastek {
  position: flex;
  width: 130%;
  height: auto;
}

.GoferContainer {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 15em;
  bottom: 34em;
}

.GoferName {
  position: absolute;
  font-family: 'Lucida Handwriting', serif;
  bottom: 8em;
  left:5em;
}

.Gofer {
  position: flex;
  width: 130%;
  height: auto;
}


.Questionaries {
  position: relative;
  width: 15em;
  height: 10em;
  top:35em;
  margin-top: 1em;
  margin-left:5em;

}

.QuestionaryAdoption {
  position: absolute;
  font-size: 50%;
  font-family: serif;
  text-decoration: none;
  top: 5em;
  right: 10em;
}

.QuestionaryTempHome {
  position: absolute;
  font-size: 50%;
  font-family: serif;
  text-decoration: none;
  top: 10em;
  right: 7em;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
